:root {
  --header-height: 3.125rem;
  --main-height: auto;
  --footer-height: auto;
}

html {
  scroll-behavior: smooth;
}

.app {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows:
    var(--header-height)
    var(--main-height)
    var(--footer-height);
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  grid-area: header;
  transition: all 0.5s;
}

.fixed {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}

.fixed .menu__link {
  color: #f1f1f1;
}

.main {
  display: grid;
  grid-template-areas:
    "highlights"
    "populars";
  grid-area: main;
  padding: 0 2rem;
}

.footer {
  background-color: #fdfdfd;
  color: #808080;
  text-align: center;
  grid-area: footer;
}
