.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.map-list {
  height: 16.25rem;
  display: flex;
  flex-flow: column wrap; /* shorthand { flex-direction: column; flex-wrap: wrap; }*/
}

.sponsors .container {
  display: flex;
  justify-content: space-between;
}
.sponsors-list {
  width: 70%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact {
  width: 25%;
}

.fieldset {
  display: flex;
}
