.about {
  padding-block: 3rem;
}

.about__content-description {
  line-height: normal;
  margin-bottom: 1rem;
}

.about__content-description--highlight {
  font-weight: 700;
  color: var(--dark-gray);
}

.about__content-description--platform {
  display: inline-block;
  margin-bottom: 1rem;
}

.about__platforms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.about__image {
  display: none;
}
