.institutional {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  text-align: center;
  color: var(--font-gray);
}

.institutional__description {
  margin-bottom: 2rem;
}

.institutional__address {
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 2rem;
}

.institutional__contact {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 2rem;
}

.institutional__contact-telephone {
  line-height: normal;
}

.institutional__contact-email {
  display: block;
  text-decoration: underline;
  color: var(--font-link);
}

.institutional__video {
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .institutional__contact-email {
    display: inline;
  }

  .institutional__video {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .institutional__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .institutional__info {
    text-align: initial;
    margin-bottom: 0;
  }

  .institutional__address {
    margin-bottom: 0;
  }

  .institutional__video {
    width: 350px;
  }
}
